<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>RepoStars - a list user's starred repositories</title>

    <!--Web fonts:-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:100,300,400,600,700' rel='stylesheet' type='text/css'>
    <!--:Web fonts-->

    <link href='dist/style/style.min.css' rel='stylesheet' type='text/css'>
</head>

<body class="js-app is-waiting">

    <header class="l-header">
        <h1 class="Brand">
            REPO<span>STARS</span>
        </h1>

        <section class="SearchUser">
            <input type="text" autofocus class="SearchUser-input js-search-input" placeholder="Insira um usuário do GitHub">
            <button class="SearchUser-button js-search-button">EXIBIR</button>
        </section>
    </header>

    <nav class="Filter u-clearfix">
        <select class="Filter-itemSelect u-relative js-sort-select">
            <option value="">Sort by</option>
            <option value="alphabetic">Alphabetical order</option>
            <option value="stars">Star count</option>
            <option value="open_ussues">Open issues count</option>
        </select>

        <select class="Filter-itemSelect u-relative js-language-select"></select>
    </nav>

    <section class="l-main u-wrapper">
        <section class="ListCards">
            <!-- <h2 class="ListCards-title">
                <span class="ListCards-user">{{userName}}</span> starred <span class="ListCards-qtd">{{qtd}}</span> repositories.
            </h2> -->

            <section class="ListCards-wrapper u-clearfix js-content"></section>
			<button class="ListCards-btnMore js-load-more" style="display:none">Carregar mais</button>
        </section>
    </section>

    <div id="templateRepository" style="display: none;"><div class="CardWrapper">
            <article class="Card">
                <span class="Card-language u-absolute" data-attr="language"></span>
                <h3 class="Card-name" data-attr="name">{{repository}}</h3>
                <div class="Card-userAvatar">
                    <span class="Card-owner u-absolute" data-attr="owner"></span>
                    <img data-attr="avatar" src="https://avatars.githubusercontent.com/u/398893?v=3" alt="{{owner}}">
                </div>
                <p class="Card-description" data-attr="description">{{description}}</p>
                <ul class="Card-infoWrapper">
                    <li class="Card-info">
                        <span data-attr="stars"></span> stars
                    </li>
                    <li class="Card-info">
                        <span data-attr="issues"></span> issues
                    </li>
                </ul>
                <ul class="Card-infoWrapper">
                    <li class="Card-info">
                        <span data-attr="created"></span><br>created
                    </li>
                    <li class="Card-info">
                        <span data-attr="pushed"></span><br>pushed
                    </li>
                </ul>
            </article>
        </div></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
    <script type="text/javascript" src="dist/js/app.js"></script>

    <script type="text/javascript">
    $(function() {

        jQuery('.js-app').repoStar();

    });
    </script>
</body>
</html>
